<button mat-flat-button routerLink="../" color="accent">
	<mat-icon>arrow_back</mat-icon>
	All posts
</button>
&nbsp;
<button *ngIf="post" mat-stroked-button routerLink="../form/{{ post.id }}">
	<mat-icon>edit</mat-icon>
	Edit
</button>
&nbsp;
<button *ngIf="post" mat-stroked-button color="warn" (click)="postService.delete(post.id)">
	<mat-icon>delete</mat-icon>
	Delete
</button>
<br>
<div *ngIf="post">
	<h2>Post #{{ post.id }}</h2>
	<markdown *ngIf="postContent">
		{{ postContent }}
	</markdown>
	<!-- post actions -->
	{{ post.likes }} Likes
	<br>
	<button mat-flat-button color="warn" (click)="postService.like(post.id)">
		<mat-icon>favorite</mat-icon>
		Like
	</button>
	&nbsp;
	<button mat-flat-button color="accent" (click)="postService.flag(post.id)">
		<mat-icon>flag</mat-icon>
		Flag
	</button>
</div>
<br>
<mat-spinner *ngIf="!post || !postContent" diameter="40"></mat-spinner>
